/server/cmake-build-debug/
/server/cmake-build-debug/server.cbp
/server/CMakeLists.txt
/server/cmake-build-debug/CMakeFiles/*

/client/cmake-build-debug/
/client/cmake-build-debug/server.cbp
/client/CMakeLists.txt
/client/cmake-build-debug/CMakeFiles/*

/comm/cmake-build-debug/
/comm/cmake-build-debug/server.cbp
/comm/CMakeLists.txt
/comm/cmake-build-debug/CMakeFiles/*

.DS_store
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
.idea/workspace.xml

/.idea/
workspace.xml
/cmake-build-debug/
/pds-project/cmake-build-debug/
/CMakeLists.txt